@model az_demo_prac.Models.User

@{
    ViewData["Title"] = "GetProfile";
}

<h1>User Profile</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Firstname
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.firstName)
        </dd>
        <dt class = "col-sm-2">
            LastName
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lastName)
        </dd>
        <dt class = "col-sm-2">
            Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-controller="Dashboard" asp-action="ReturnDashboard">Back</a>
</div>
